{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": { 
    "no-console": 0,
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-var-requires": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
}
}