
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;

}

.header {
  background: rgb(224,174,238);
  background: radial-gradient(circle, rgba(224,174,238,1) 0%, rgba(148,154,233,1) 100%);
}

.header-container {
  display: flex;
  padding: 10px 20px;
  align-items: center;
max-width: 1400px;
margin: 0 auto;
}

.header-logo {
  width: 90px;
  border-radius: 50px;
  /* height: 100px; */
}

.header-title {
  font-size: 45px;
  margin-left: 30px;
  font-family: 'Courgette', cursive;

}

.header-basket {
  margin-left: auto;
  width: 40px;
}