
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1920px;
}

html,
body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0;
    height:100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

header {
    padding: 10px 30px;
    height: 20%;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    padding: 0 5px 0 5px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
  display: inline-block;
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .year {
  font-size: 14px;
  text-align: center;
}

footer .github-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('./assets/git.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
}

footer .rss-logo {
  display: inline-block;
  width: 80px;
  height: 20px;
  background: url('./assets/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.rss-logo:hover,
.github-link:hover,
.copyright a:hover {
  filter: invert(22%) sepia(2%) saturate(0%) hue-rotate(8deg) brightness(102%) contrast(86%);
  transform: scale(1.1);
  transition: 0.3s;
}

