.filter {
  max-width: 210px;
}

.section {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.section span {
text-align: center;
font-size: 18px;
}

.filter-popular {
  flex-direction: row;
}

.filter-popular label {
  font-size: 20px;
  margin-top: 0px;
}

label {
  margin-top: 5px;
}
input[type=checkbox] {
  display: none;
}

.pseudocheckbox::before {
  content: "\00A0";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #541663;
  border-radius: 2px;
  margin-right: 6px;
  vertical-align: baseline;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 16px;
  color:#541663;
}
.section .popular{
  font-size: 21px;
  font-weight: bold;
}
input[type=checkbox]:checked + .pseudocheckbox::before {
  content: "\2713";
}
input[type=checkbox]:checked + span {
  font-weight: bold;
}
.search-filter {
width: 100%;
display: flex;
justify-content: space-between;
}

#q {
  width: 300px;
  height: 30px;
  border: 2px solid #541663;
  border-radius: 7px;
  font-size: 20px;
}

input::-webkit-input-placeholder {
  color: #541663; 
  font-style: italic; 
}

.sort-list {
  width: 300px;
  height: 30px;
  border: 2px solid #541663;
  border-radius: 7px;
  font-size: 20px;
}
.sort-list:hover {
 border-color: #541663
}
.sort-list:focus,
#q:focus { 
  border-color: #541663; 
  box-shadow: 0 0 1px 1px #541663;
  outline: none; 
 }
 .buttons {
   align-items: center;
   justify-content: center;
 }

 .btn {
   width: 150px;
   height: 50px;
   border-radius: 20px;
   border: 2px solid #541663;
   transition-duration: 0.4s;
   background-color: white;
   margin-top: 10px;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 10px;
 }
 .btn:hover {
  background-color:  #9e74a8;
  color: white;
}
.btn:active {
  transition: 0.3s;
  transform: scale(1.2);
}

.active-btn {
  background-color:  #9e74a8;
  color: white;
}

.active-btn:hover {
  background-color: white;
  color: black;
}

.basket-counter {
  position: absolute;
  top: 25px;
  left: 14px;
  background-color: #9e74a8;
  border: 2px solid #541663;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.9;
  display: none;
  text-align: center;
  color: #541663;
  font-weight: bold;
  font-size: 20px;
  padding-top: 3px;
}